__pycache__/
our_csv_dataset/
our_dataset/dataset2/A_encoder/
our_dataset/dataset2/A_gate_encoder/
our_dataset/dataset2/multi_similarities/
our_datase/dataset2/result/
our_dataset/dataset2/A_encoder/
our_dataset/dataset2/view_attention/
our_dataset/dataset1/A_new_encoder/
our_dataset/dataset3/A_new_encoder/
our_dataset/dataset2/result/gate_results.csv
logs/